<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1><%= user.local.email%>'s' 8Ball Diary</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
          <h3>8Ball Dairy </h3>
          <ul class="messages">
          <% for(var i=0; i < diary.length; i++) {%>
           <% if(diary[i].name === user.local.email ) {%>
            <li class="message">
              <span><%= diary[i].q %></span>
              <span class = "answer"><%- diary[i].a%></span>
              <button class ="trash">Trash This!</button>
            </li>
            <% } %>
          <% } %>
          </ul>

          <h2>Ask your Question</h2>
        <% if (user.local.email) { %>
          <form action="/diary" method="POST">
            <input type="text" value="<%= user.local.email %>" name="name" style="display:none;">
            <input type="text" placeholder="Question?" name="msg">
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>

</div>

<script src="main.js"></script>

</body>
</html>
