*{
  box-sizing: border-box;
  border: 1px solid blue;
}
html{
    font-size: 10px;
}
body{
  padding-top:80px;
  word-wrap:break-word;
}
h1{
  color: blue
}
img{
  height: 200px;
}

li{
  list-style: decimal-leading-zero;
  margin-bottom: 10px;
}
span{
  font-size: 1.5rem;
}

.trash{
  font-size: large;
  font-weight: 700;
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 5%;
  
}
.answer{
  color:red
}
